<h2>Create Group</h2><br>
<form (ngSubmit)="onSubmit()">
 
    <input type="text" name="groupName" id="groupName" placeholder="Group Name" [(ngModel)]="groupName">
    <br><input type="text" name="description" id="description" placeholder="Description" [(ngModel)]="description">
      <div class="members">

      <h4>Add members</h4>
          <input type="email" name="email" id="email" placeholder=" Enter email to add member" [(ngModel)]="memberEmail">
    <button (click)="addMember()">Add member</button>
       </div>
       
    @if (memberError) {
      <div class="error">
       <p style="color: red">{{ memberError }}</p>
      </div>

         } 
       @if (members.length>0) {
        <div class="members-list">
          <h4>Members:</h4>
          @for (member of members; track member) {
            <p>{{member}}</p>
          }
        </div>
       }
    <br><button type="submit">Create Group</button>
</form>
